<div class="registration-page">
  <div class="form-buffer"></div>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-standard-submit-wrapper">
      <%= f.submit 'Register', class: 'form-standard-submit' %>
    </div>
    <div class="form-standard-body">
      <%= f.text_field :username, placeholder: 'Username' %>
      <%= f.email_field :email, placeholder: 'Email Address', autocomplete: "email", class: 'form-standard-emailfield' %>
      <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-standard-textfield' %>
      <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-standard-textfield' %>
      <%= f.text_field :postal_code, placeholder: 'Postal code', class: 'form-standard-textfield' %>
      <div class="form-group">
        <div class="country-buffer"></div>
        <%= f.country_select :country, selected: 'US', class: 'form-standard-countryselect' %>
      </div>
      <%= f.check_box :allow_email, default: true, label: 'Unselect to opt out of emails (we will never email more than once per day)' %>
      <%= f.password_field :password, placeholder: 'Password', autocomplete: "password", class: 'form-standard-password' %>
      <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
      <div class="form-standard-submit-wrapper">
        <%= f.submit 'Register', class: 'form-standard-submit' %>
      </div>
      <div class="overflow-button"></div>
    </div>
  <% end %>
</div>
