<div class="registration-page">
  <div class="form-buffer"></div>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-standard-submit-wrapper">
      <%= f.submit 'Register', class: 'form-standard-submit' %>
    </div>
    <div class="form-standard-body">
      <%= f.text_field :username, placeholder: 'Username' %>
      <%= f.email_field :email, placeholder: 'Email Address', class: 'form-standard-emailfield' %>
      <%= f.text_field :postal_code, placeholder: 'Postal/Zip Code', class: 'form-standard-textfield' %>
      <%= f.password_field :password, placeholder: 'Password', class: 'form-standard-password' %>
      <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
      <div class="form-standard-submit-wrapper">
        <%= f.submit 'Register', class: 'form-standard-submit' %>
      </div>
      <div class="overflow-button"></div>
    </div>
  <% end %>
</div>
