<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="comments-textarea-container">
    <div class="post-textarea-container">
      <textarea class="post-content-textarea" placeholder="Write your post here" name="comment[content]" id="comment_content"></textarea>
  </div>
  </div>
  <%= f.hidden_field :post_id, :value => post_id %>
  <div class="submit-comment-container">
    <%= f.submit 'Submit', class: "jbh-green-btn-container" %>
  </div>
<% end %>
