<%= simple_form_for(@problem) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: "Keep your title short and simple!" %>
    <%= f.input :description, placeholder: "A good description will go a long way." %>
    <%= f.select :category, MilestoneCategory.categories.map {|cat| cat.title} %>
    <%= f.input :subcategory %>
    <%= f.input :volunteers_required %>
    <%= f.input :target_completion_date, as: :date, order: [:month, :day, :year] %>
    <%= f.input :address, placeholder: "If possible, please enter an address" %>
    <%= f.input :postal_code, placeholder: "A postcode is not necessary if an address is entered" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-outline-primary'%>
  </div>
<% end %>
