
<%= simple_form_for(@problem) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: "Keep your title short and simple!" %>
    <%= f.input :description, placeholder: "A good description will go a long way." %>
    <%= f.input :category, placeholder: "Examples: 'Trash Cleanup', 'Personal Outreach'" %>
    <%= f.input :subcategory %>
    <%= f.input :participants_required %>
    <%= f.input :target_completion_date, as: :date %>
    <%= f.input :address, placeholder: "If possible, please enter an address" %>
    <%= f.input :postal_code, placeholder: "A postcode is not necessary if an address is entered" %>
    <%= f.input :country, placeholder: "Will default to United States if left blank" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-outline-primary'%>
  </div>
<% end %>
