<%= content_tag :div, class: "sub_categories", data: {sub_categories: @sub_categories} do %>
<% end %>


<%= simple_form_for(@problem) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: "Keep your title short and simple!" %>
    <%= f.input :description, placeholder: "A good description will go a long way." %>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category, @categories.map.with_index {|cat, index| [cat, index] }, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subcategory %>
      <%= f.select :subcategory, @sub_categories[0].map.with_index {|sub, index| [sub[:title], index]}, {}, class: "form-control" %>
    </div>
    <%= f.input :volunteers_required %>
    <%= f.input :target_completion_date, as: :date, order: [:month, :day, :year] %>
    <%= f.input :address, placeholder: "If possible, please enter an address" %>
    <%= f.input :postal_code, placeholder: "A postcode is not necessary if an address is entered" %>
  </div>

  <%= f.button :submit, class: 'btn btn-outline-primary'%>
<% end %>
