<div class="requirement-row">
  <div>
    <a href="/requirements/<%= requirement.id %>">
      <h5><%= requirement.title %></h5>
      <p><%= requirement.description %></p>
      <p></p>
      <p>
        <strong>Due date: </strong><%= requirement.target_completion_date %>
        <br>
        <strong>Priority: </strong><%= requirement.priority %>
      </p>
    </a>
  </div>
</div>
