<div class="problem-header">
  <div class="problem-info-summary">
    <h1 class="problem-title"> <%= @problem.title %> </h1>
    

    <% if !@role && current_user %>
      <%= link_to 'Follow Problem', problems_follow_path(problem_id: @problem.id), class: "btn btn-outline-primary" %>
    <% elsif !current_user %>
      <%= link_to 'Sign In', "/users/sign_in" %>
    <% elsif @role.level == 4 %>
      <%= link_to 'Unfollow Problem', problems_unfollow_path(problem_id: @problem.id), class: "btn btn-outline-primary" %>
    <% elsif @role.level == 2 %>
      <%= link_to 'Step down as Supervisor', problems_demote_user_path(problem_id: @problem.id, target_user_id: @role.user_id), class: "btn btn-outline-primary" %>
    <% end %>
  </div>

  <div class="problem-info">
    <div class="problem-info-row">
      <span class="follower-count">Created By <span class="follower-count-span"><%= @problem.user.username %></span></span>
      
      <span class="follower-count">
        <%= link_to 'Followers', problems_followers_path(:id => @problem.id), data: { modal: true } %>
        <span class="follower-count-span info"><%= @problem.follower_count %></span>
      </span>
      <!-- @arren - follower spans could be modal style info graphics
        followers opens to a list of the followers
        volunteers opens list of volunteers
        need way to show they're clickable. maybe underline?
      -->
    </div>
    <div class="problem-info-row">
      <span class="follower-count">Target Completion <span class="follower-count-span">  <%= @problem.target_completion_date %></span></span>
      <span class="follower-count">Category <span class="follower-count-span black"><%= @problem.category_title %></span></span>
      <span class="follower-count">Volunteers <span class="follower-count-span info"><%= @problem.volunteer_count %> / <%= @problem.volunteers_required %></span></span>
    </div>
    <p><%= @problem.description %></p>
  </div>

</div>

<div class="tab">
  <div class="problem-tab-links">
    <button class="tablinks hp" onclick="openTab(event, 'problem-requirements-tab')" id="defaultOpen">Requirements and Progress</button>
    <button class="tablinks hp" onclick="openTab(event, 'problem-info-tab')">Posts and Discussion</button>
  </div>
</div>

<!-- Tab content -->
<div id="problem-info-tab" class="tabcontent">
  <div class="posts-container">
    <div class="tab-header d-flex align-items-center">
      <h2 class="tab-heading"> Posts </h2>
    </div>
    <div class="post-list">
      <% @problem.posts.each do |post| %>
        <% post_user = User.find(post.user_id) %>
        <div class="post-container">
          <a href="/posts/<%= post.id %>" class="post-link">
            <p class="post-author"><%= post_user.username %><span> on <%= post.created_at.strftime('%m/%d/%Y') %></span></p>
            <p class="post-title"><%= post.title %></p>
            <p class="post-excerpt"><strong>Excerpt: <%= post.display_content %></strong></p>
          </a>
        </div>
      <% end %>
      <% if current_user && @role %>
        <div class="add-post-button">
          <%= link_to 'Add A Post', new_post_path(:problem => {:problem_id => @problem.id}), class: "btn btn-success btn-lg", data: { modal: true } %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div id="problem-requirements-tab" class="tabcontent">
  <div class="d-flex align-items-center">
    <h2 class="tab-heading">Requirements</h2>

  </div>

  <% @requirements.each do |requirement| %>
    <%= render 'requirement_row', requirement: requirement %>
  <%end%>

  <% if @is_mod %>
    <div class="add-requirement-button">
      <%= link_to 'Add a new requirement', new_requirement_path(:requirement => {:problem_id => @problem.id, :problem_planned => @problem.planned, :target_date => @problem.target_completion_date}), class: 'btn btn-success btn-lg', data: { modal: true } %>
    </div>
  <% end %>
</div>
