

<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @problem.location %>
</p>

<p>
  <strong>Target completion date:</strong>
  <%= @problem.target_completion_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @problem.user.email %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
