
<h1>Problem Information</h2>
<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Target completion date:</strong>
  <%= @problem.target_completion_date %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @problem.user.username %>
</p>


<p>
  <strong>Follower count:</strong>
  <%= @problem.follower_count %>
</p>

<p>
  <strong>Current Participant Count / Target Participant Count:</strong>
  <%= @problem.participant_count %> / <%= @problem.participants_required %>
</p>

<p>----------------------------------------</p>
<br>
<br>
<br>
<p>----------------------------------------</p>
<h2>Milestones</h2>

<% @problem.milestones.each do |milestone| %>
<p>
    Title: <%= milestone.title %>  |  Show milestone: <%= link_to 'Milestone', milestone %> <br>
    Current Status: <%= milestone.current_status %> <br>
    Complete: <%= milestone.complete %> <br>
    Current/Needed Participants: <%= milestone.participants_required %> <br>
    <% if @role && @role.level <= 2 %>
        <%= link_to 'Edit', edit_milestone_path(milestone) %> ||
        <%= link_to 'Delete', milestone, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %> <br>
    --------------------------
</p>
<%end%>

<% if @role && @role.level <= 2 %>

<%= link_to 'Create a milestone', new_milestone_path(:milestone => {:problem_id => @problem.id}), class: 'btn btn-outline-success my-2 my-sm-0', data: { modal: true } %>

<% end %>

<p>----------------------------------------</p>
<br>
<br>
<br>
<p>----------------------------------------</p>
<h3> POSTS </h3>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
            <% post_user = User.find(post.user_id) %>
        <td><%= post_user.username %></td>
        <td><%= post.comment_count %></td>
        <td><%= link_to 'Show', post %></td>
        <% if current_user == post_user || current_user == @problem.user || (@role && @role.level <= 2)%>
        <td>  |  <%= link_to 'Edit', edit_post_path(post) %>  |  </td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && @role %>
<%= link_to 'Add A Post', new_post_path(:problem => {:problem_id => @problem.id}) %>
<% end %>
<p>----------------------------------------</p>
<br>
<br>
<br>
<p>----------------------------------------</p>
<h4>Problem Administration Links</h4>
<% if current_user == @problem.user %>
<%= link_to 'Edit', edit_problem_path(@problem) %> | <%= link_to 'Delete', @problem, method: :delete, data: {:confirm => "Are you sure?"} %>
<% end %>
<% if !@role %>
<%= link_to 'Follow Problem', controller: "problems", action: "follow", problem_id: @problem.id %>
<% elsif @role.level == 4 %>
<%= link_to 'Unfollow Problem', controller: "problems", action: "unfollow", problem_id: @problem.id %>
<% elsif @role.level == 2 %>
<%= link_to 'Step down as Supervisor', controller: "problems", action: "demote_user", problem_id: @problem.id, target_user_id: @role.user_id %>
<% end %>
<p>----------------------------------------</p>
<br>
<br>
<br>
<p>----------------------------------------</p>
<
<h5>Followers</h5>
<% @problem.roles.each do |role| %>
<p>Username: <%= role.user.username %></p>
<p>Title: <%= role.title %> 
<% if (current_user == @problem.user) && (role.user != current_user) && (role.level == 4 || role.level == 3) %> 
| <%= link_to 'Promote User', controller: "problems", action: "promote_user", problem_id: @problem.id, target_user_id: role.user.id %>
<% elsif (current_user == @problem.user) && (role.user != current_user) && role.level < 4 %>
| <%= link_to 'Demote User', controller: "problems", action: "demote_user", problem_id: @problem.id, target_user_id: role.user.id %>
<% end %>
</p>
  --------------------------
<% end %>

<br>
<br>
<p>----------------------------------------</p>
<%= link_to 'Back to problems list', problems_path %>
