<%= simple_form_for(@requirement, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: "Keep it short and sweet" %>
    <%= f.input :description, placeholder: "An in-depth description goes here." %>
    <%= f.input :current_status, placeholder: "A short description of the current status." %>

    <% if @date %>
      <%= f.input :target_completion_date, :selected => @date, start_year: Date.today.year %>
    <% else %>
      <%= f.input :target_completion_date, :value => @requirement.problem.target_completion_date %>
    <% end %>

    <% if params[:action] == "edit" %>
      <%= f.input :pct_work_remaining, label: 'Estimate the % of work that remains!' %>
    <% end %>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category, @categories.map.with_index {|cat, index| [cat, index] }, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subcategory %>
      <%= f.select :subcategory, @sub_categories[0].map.with_index {|sub, index| [sub[:title], index]}, {}, class: "form-control" %>
    </div>
    <%= f.input :volunteers_required, placeholder: "How many people do you need?" %>
    <%= f.select :priority, [1,2,3,4,5,6,7,8,9,10], label: "Priority" %>
    <% if !@planned %>
      <div class="planned-selection">
        <%= f.input :defined, label: "This is everything I need!" %>
        <%= f.input :estimated_work, placeholder: "Estimate the number of hours. Don't worry, you can edit this later!" %>
      </div>
    <% else %>
      <%= f.hidden_field :defined, :value => true %>
    <% end %>
    <% if params[:requirement] %>
    <%= f.hidden_field :problem_id, :value => params[:requirement][:problem_id] %>
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
