<div class="requirement-show-page">
  <div class="jbh-standard-title">
    <%= @requirement.title %>
  </div>
  <div class="requirement-info-description">
    <%= @requirement.description %>
    <% if @requirement.complete? %>
      <div class="requirement-complete-marker">
        Requirement is complete!
      </div>
    <% end %>
  </div>
  <div class="jbh-grid-container">
    <div class="jbh-grid-first">
      <% if @leader %>
        <div class="requirement-info-row">
          Led By
          <div class="requirement-info-content">
            <%= @leader.user.username %>
          </div>
        </div>
      <% else %>
        <div class="requirement-info-row needs-leader">
          No Leader!
        </div>
      <% end %>
      <div class="requirement-info-row">
        Status
        <div class="requirement-info-content">
          <%= @requirement.status %>
        </div>
      </div>
      <div class="requirement-info-row">
        Priority
        <div class="requirement-info-content">
          <%= @requirement.priority %>
        </div>
      </div>
      <% if @requirement.estimated_work > 0 %>
        <div class="requirement-info-row">
          Estimated Difficulty
          <div class="requirement-info-content">
            <%= @requirement.estimated_work.round %>/10
          </div>
        </div>
      <% end %>
      <div class="requirement-info-row">
        Completion Date
        <% if @requirement.overdue? %>
          <div class="requirement-info-content requirement-overdue">
            <%= @requirement.target_completion_date %>
          </div>
        <% else %>
          <div class="requirement-info-content">
            <%= @requirement.target_completion_date %>
          </div>
        <% end %>
      </div>
      <div class="requirement-info-row">
        Volunteers
        <div class="requirement-info-content">
          <%= @requirement.volunteer_count %>
        </div>
      </div>
    </div>
    <div class="jbh-grid-second">
      <% if !@is_volunteer && @is_follower %>
        <a href="/requirements/participate?id=<%= @requirement.id %>">
          <div class="volunteer-btn-div">
            Volunteer to help!
          </div>
        </a>
      <% end %>
      <% if @is_mod %>
        <% if @requirement.can_complete? %>
          <a href="complete?id=<%=@requirement.id%>">
            <div class="req-option-btn-div">
              Complete this Requirement
            </div>
          </a>
        <% end %>
        <% if @requirement.complete? %>
          <a href="incomplete?id=<%=@requirement.id%>">
            <div class="req-option-btn-div">
              Mark As Incomplete
            </div>
          </a>
        <% end %>
        <a href="<%= edit_requirement_path(@requirement) %>">
          <div class="req-option-btn-div">
            Edit this Requirement
          </div>
        </a>
      <% end %>
      <div class="link-group d-flex flex-column">
        <% if @leader && @leader.user == current_user %>
          <a href="/requirements/demote?id=<%= @requirement.id %>">
            <div class="req-option-btn-div cancel-btn-div">
              Step Down as Leader
            </div>
          </a>
        <% elsif @is_volunteer %>
          <a href="/requirements/cancel?id=<%= @requirement.id %>">
            <div class="req-option-btn-div cancel-btn-div">
              Cancel your Participation
            </div>
          </a>
        <% end %>
        <a href="/opportunities/<%= @requirement.opportunity.id %>">
          <div class="req-option-btn-div">
            Parent Opportunity
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="tab">
  <div class="opportunity-tab-links">
    <button class="tablinks hp" onclick="openTab(event, 'requirement-posts-tab')" id="defaultOpen">Discussion</button>
    <button class="tablinks hp" onclick="openTab(event, 'requirement-volunteers-tab')">Volunteers</button>
  </div>
</div>
<div id="requirement-posts-tab" class="tabcontent">
  <div class="posts-container">
    <div class="post-list">
      <% if @requirement.posts.size > 0 %>
        <% @requirement.posts.each do |post| %>
          <% post_user = User.find(post.user_id) %>
          <div class="post-container">
            <a href="/posts/<%= post.id %>" class="post-link">
              <p class="post-title"><%= post.title %></p>
              <p class="post-author"><%= post_user.username %><span> on <%= post.created_at.strftime('%m/%d/%Y') %></span></p>
            </a>
          </div>
        <% end %>
      <% else %>
        <div class="no-posts-container">
          There is currently no discussion about this requirement. If you have a comment or question, add it!
        </div>
      <% end %>
      <% if current_user && @is_follower %>
        <div class="submit-post-container">
          <%= link_to 'New Post', new_post_path(:requirement => {:id => @requirement.id}), class: "submit-post-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="requirement-volunteers-tab" class="tabcontent">
  <div class="volunteers-container">
    <div class="volunteers-list">
      <% if @volunteers.size > 0 %>
        <% @volunteers.each do |vol| %>
          <div class="volunteer-row">
            <div class="volunteer-username">
              <%= vol.username %>
            </div>
            <% if !@leader && @is_mod %>
              <div class="volunteer-leader-btn">
                <a href="/requirements/promote?id=<%= @requirement.id %>&user_id=<%=vol.id%>">
                  <div class="promote-btn-div">
                    Promote User to Leader
                  </div>
                </a>
              </div>
            <% elsif @leader && vol.id == @leader.user_id %>
              <div class="volunteer-leader-btn">
                <a href="/requirements/demote?id=<%= @requirement.id %>">
                  <div class="demote-btn-div">
                    Remove User as Leader
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>