<div class="opportunity-row" id="home-step5"
  data-category="<%= opportunity.category_title %>"
  data-volunteers="<%= opportunity.volunteers_required - opportunity.volunteer_count != 0 %>"
  data-defined="<%= opportunity.defined %>">
  <div class="opportunity-row-info">
    <a href="/opportunities/<%= opportunity.id %>">
      <h5 class="opportunity-title">
        <%= opportunity.display_title %>
        <div class="opportunity-meta-volunteers">
          <% if opportunity.volunteers_needed > 0 %>
            <div class="opportunity-volunteers-needed">
              <%= opportunity.volunteers_needed %>
              <div class="volunteers-needed">
                more<br>
                volunteers<br>
                wanted
              </div>
            </div>
          <% else %>
            <div class="opportunity-volunteers-not-needed">
              0
              <div class="volunteers-needed">
                more<br>
                volunteers<br>
                wanted
              </div>
            </div>
          <% end %>
        </div>
      </h5>
      <div class="opportunity-meta">
        <div class="opportunity-row-data">
          <div class="opportunity-row-data-header"><%= opportunity.defined? ? 'Meeting Time:' : 'Plan by date:' %> </div>
          <% if opportunity.overdue? %>
            <div class="opportunity-row-data-content opportunity-row-overdue">
              <%= opportunity.display_date %> - behind schedule!
            </div>
          <% else %>
            <div class="opportunity-row-data-content">
              <%= opportunity.display_date %>
            </div>
          <% end %>
          <div class="opportunity-row-data-header">Meeting Point: </div>
          <div class="opportunity-row-data-content"><%= opportunity.address %> </div>
          <div class="opportunity-row-data-header">Category: </div>
          <div class="opportunity-row-data-content"><%= opportunity.category_title %> </div>
          <% if @title_hash[opportunity.id] %>
            <div class="opportunity-row-data-header">Role: </div>
            <div class="opportunity-row-data-content"><%= @title_hash[opportunity.id] %> </div>
          <% end %>
        </div>
      </div>
    </a>
  </div>
</div>
