<div class="problem-row">
  <div>
    <a href="/problems/<%= problem.id %>">
      <h5><%= problem.title %></h5>
      <p><%= problem.description %></p>
      <p><strong>Due: </strong><%= problem.target_completion_date %></p>
      <p><strong>Created by: </strong><%= problem.user.username %></p>
    </a>
  </div>
</div>
