<% role_title = Role.problem_role_title(current_user.id, problem.id) %>


<div class="problem-row" id="home-step5"
  data-category="<%= problem.category_title %>"
  data-volunteers="<%= problem.volunteers_required - problem.volunteer_count != 0 %>"
  data-defined="<%= problem.defined %>"
  >
  <div class="problem-row-info">
    <a href="/problems/<%= problem.id %>">
      <h5 class="problem-title">
        <%= problem.display_title %>
        <div class="problem-meta-volunteers">
          <% if problem.volunteers_needed > 0 %>
            <div class="problem-volunteers-needed">
              <%= problem.volunteers_needed %>
              <div class="volunteers-needed">
                volunteers<br>needed
              </div>
            </div>
          <% else %>
            <div class="problem-volunteers-not-needed">
              0
              <div class="volunteers-needed">
                volunteers<br>needed
              </div>
            </div>
          <% end %>
        </div>
      </h5>

      <div class="problem-meta">
        <div class="problem-row-data">
          <div class="problem-row-data-header">Completion Date: </div>
          <div class="problem-row-data-content"><%= problem.target_completion_date %></div>
          <div class="problem-row-data-header">Category: </div> 
          <div class="problem-row-data-content"><%= problem.category_title %> </div>
          <% if role_title %>
            <div class="problem-row-data-header">Role: </div>
            <div class="problem-row-data-content"><%= role_title %> </div> 
          <% end %>
        </div>
      </div>

      <div class="problem-row-definition">
        <% if problem.defined %>
          <h2 class="problem-defined-wrapper">PLANNED</h2>
        <% else %>
          <h2 class="problem-abstract-wrapper">PLANNING</h2>
        <% end %>
      </div>
    </a>
  </div>
</div>
