<div class="problem-row"
  data-category="<%= problem.category_title %>"
  data-volunteers="<%= problem.volunteers_required - problem.volunteer_count != 0 %>"
  data-defined="<%= problem.defined %>"
  >
  <div>
    <a href="/problems/<%= problem.id %>">
      <h5 class="problem-title"><%= problem.display_title %></h5>
      <p class="problem-desc"><%= problem.display_description %></p>
      <p class="problem-date"><strong>Due: </strong><%= problem.target_completion_date %></p>
    </a>
  </div>
</div>
