
<div class="calendar-background">
  <% if @geopoint %>
    <div id="geopoint-is-present"/>
    <div id="calendar">
      <%= week_calendar events: @opportunities do |date| %>
        <div id="mobile-day-header" class="mobile-day-header">
          <a class="calendar-map-link" href="/map?cleanup_date=<%= date %>&location_term=<%= @zip %>">
            <%= t('date.abbr_day_names')[date.wday] + ' ' + date.strftime('%m/%d') %>
          </a>
        </div>
        <% oppo_count = 0 %>
        <% @opportunities.each do |opp| %>
          <% if opp.cleanup_date == date.to_date %>
            <div class="calendar-opportunity">
              <a href="/opportunities/<%= opp.id %>">
                <div class="calendar-opportunity-title">
                  <%= opp.title %>
                </div>
                <div class="calendar-opportunity-time">
                  <%= opp.start_time.strftime('%H:%M %p') + ' - ' + opp.end_time.strftime('%H:%M %p') %>
                </div>
              </a>
            </div>
            <% oppo_count += 1 %>
          <% end %>
        <% end %>
        <% if oppo_count == 0 %>
          <div class="no-cleanups">
            No cleanups scheduled
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="location-select-div">
      <div class="location-select-outline">
        <div class="location-select-title">
          Welcome to Detrashers.org!
        </div>
        <form class="form-inline my-2 my-lg-0" accept-charset="UTF-8" action="/" method="get">
          <input class="form-control location-select-field" type="search" id="postcode" placeholder="Enter postal code" aria-label="Change Location" name="postcode">
          <br>
          <button class="location-select-btn" type="submit" href="/" value="postcode">Get Started</button>
          <div class="explanation">
            Enter your postal code to see a calendar view of cleanup opportunities in your community!
          </div>
        </form>
      </div>
    </div>
  <% end %>

  <div class="calendar-aboutus" id="calendar-aboutus">
    <div class="aboutus-left">
      <div class="aboutus-div-title">
        About us
      </div>
      <div class="aboutus-content">
        Detrashers.org is a donation-funded, advertising-free platform built around making it easy to organize and find trash cleanups in your community.
      </div>
    </div>

    <div class="aboutus-center">
      <div class="aboutus-div-title">
        How to help
      </div>
      <div class="aboutus-content">
        There are many ways you can help: organizing, participating, donating, and spreading the word!
        <div class="help-out-links">
          <a class="help-out-link" href="/donate">Donation Info</a>
          <a class="help-out-link" href="https://instagram.com/detrashers">Follow Us</a>
          <a class="help-out-link" href="mailto:help@detrashers.org">Contact Us</a>
        </div>
      </div>
    </div>


    <div class="aboutus-right">
      <div class="aboutus-div-title">
        Our Impact
      </div>
      <div class="aboutus-content">
        Every pound of trash collected by detrashers and properly disposed of means one less pound of trash in our streets, waterways, and oceans!
      </div>
    </div>

    <div class="aboutus-mobile">
      <div class="aboutus-content">
        Enter your postal code to see a calendar with cleanup opportunities in your area!
        <br>
        -
        <br>
        Detrashers.org is a donation-funded platform built around making it easy to organize and participate in trash cleanups in your community. Every pound of trash picked up by detrashers is one less pound in our streets, waterways, and oceans!
        <br>
        -
        <br>
          There are many ways you can help: organizing, participating, donating, and spreading the word!
        <div class="help-out-links">
          <a class="help-out-link" href="/donate">Donation Info</a>
          <a class="help-out-link" href="https://instagram.com/detrashers">Follow Us</a>
          <a class="help-out-link" href="mailto:help@detrashers.org">Contact Us</a>
        </div>
      </div>
    </div>

  </div>
</div>
