<h2>Sign In</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>








<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Sign In</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Sign In</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="new_user" novalidate="" method="POST" action="/users/sign_in">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="user[email]" autofocus="autofocus" autocomplete="email" class="form-control form-control-lg rounded-0" name="email" id="email" required="">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <input type="hidden" name="authenticity_token" value="4lopOoJiQHoO0+xk19i8e2YGho4YiWRpy5YFGlXV9i++SOLdMvINxtog32ASFJ2MMJDvBUm6vQvBJeTvBpvYug==">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="password" required="" autocomplete="current-password" name="user[password]">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
<!--                                 <div>
                                    <label class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description small text-dark">Remember me on this computer</span>
                                    </label>
                                </div> -->
                                
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Sign In</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->



