<%= simple_form_for(@post, remote: request.xhr?) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :title, placeholder: "Enter a post title" %>
  </div>
  <div class="post-textarea-container">
    <textarea class="post-content-textarea" placeholder="Write your post here" name="post[content]" id="post_content"></textarea>
  </div>
  <div class="post-attachments-container">
    <%= f.file_field :images, multiple: true %>
  </div>
  <% if params[:opportunity] %>
    <%= f.hidden_field :opportunity_id, :value => params[:opportunity][:id] %>
  <% end %>
  <div class="submit-post-container">
    <%= f.button :submit, "Post", class: "submit-post-btn"%>
  </div>
<% end %>
