<%= content_tag :div, class: "sub_categories", data: {sub_categories: @sub_categories} do %>
<% end %>
<%= simple_form_for(@opportunity) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <div class="basic-info-container" id="new-opportunity-step1">
      <h5 class="title-subheader">What are the basics?</h5>
      <div class="title-selection">
        <%= f.input :title, placeholder: "60-character limit" %>
        <%= f.input :description, placeholder: "A good description will go a long way." %>
        <div class="form-group">
          <%= f.label :category, class: 'opportunity-form-category-label' %>
          <%= f.select :category, @categories.map.with_index {|cat, index| [cat, index] }, {}, class: "form-control" %>
        </div>
      </div>
    </div>
      <div class="defined-options-container" id="defined-options">
        <h5 class="defined-options-subheader">How many volunteers do you want?</h5>
        <div class="volunteers-required-input">
          <%= f.input :volunteers_required %>
        </div>
      </div>
    <div class="location-container" id="new-opportunity-step3">
      <h5 class="location-subheader">Where is your opportunity located?</h5>
      <div class="location-selection">
        <%= f.input :address, placeholder: "If possible, please enter a specific location; an address, intersection, or public place is perfect!" %>
      </div>
    </div>
    <%= f.hidden_field :defined, value: true %>
  </div>
  <div class="submit-post-container">
    <%= f.button :submit, "Submit", class: 'submit-post-btn'%>
  </div>
<% end %>
