<%= bootstrap_form_for(@opportunity) do |f| %>
  <div class="create-cleanup-btn-wrapper">
    <%= f.submit 'Edit Cleanup', class: "create-cleanup-btn" %>
  </div>
  <%= f.text_field :title, label: "Come up with a short, descriptive title for your cleanup." %>
  <%= f.text_area :description, label: "Put a few words here to describe your cleanup. Maybe you're going to provide equipment or food, or perhaps the cleanup has some special information that you need to share." %>
  <%= f.text_field :address, label: "Where is the meeting point for your cleanup?" %>
  <div class="space-saver">
    <div class="date-and-time-wrapper">
      <%= f.date_select :cleanup_date, label: "What day do you want to do a cleanup?" %>
      <%= f.time_field :cleanup_time, label: "What time of day do you want to start?" %>
    </div>
    <div class="duration-and-volunteers-wrapper">
      <%= f.number_field :cleanup_duration, label: "How many hours is your cleanup going to last?" %>
      <%= f.number_field :volunteers_required, label: "How many people are you trying to find?" %>
    </div>
  </div>
  <div class="create-cleanup-btn-wrapper">
    <%= f.submit 'Edit Cleanup', class: "create-cleanup-btn" %>
  </div>

<% end %>
