<div class="requirement-row <%= 'requirement-row-complete' if requirement.complete %>">
  <a href="/requirements/<%= requirement.id %>">
    <div class="jbh-grid-container">
      <div class="jbh-grid-first">
        <p class="requirement-row-title"><%= requirement.title %></p>
        <p class="requirement-row-excerpt"><%= requirement.display_description %></p>
        <p class="requirement-row-date req-row-info"><strong>Due date: </strong><%= requirement.target_completion_date %></p>
        <p class="requirement-row-author req-row-info"><strong>Priority: </strong><%= requirement.priority %></p>
      </div>
      <div class="jbh-grid-second">
        <p class="requirement-row-category req-row-info"><strong>Category: </strong><%= requirement.category_title %></p>
        <p class="requirement-row-status req-row-info"><strong>Status: </strong><%= requirement.status %></p>
      </div>
    </div>
  </a>
</div>