<div class="opportunity-show-page">
  <div class="jbh-standard-title">
    <%= @opportunity.title %>
  </div>
  <div class="opportunity-main-grid">
    <div class="oppo-main-grid-topleft">
      <div class="oppo-topleft-grid">
        <div class="oppo-topleft-grid-top">
          <div class="opportunity-info-row">CREATED BY
            <div class="opportunity-info-row-data"><%= @opportunity.user.username %></div>
          </div>
          <div class="opportunity-info-row">CATEGORY
            <div class="opportunity-info-row-data black"><%= @opportunity.category_title %></div>
          </div>
          <div class="opportunity-info-row"><%= @opportunity.defined ? 'COMPLETION DATE' : 'PLAN BY DATE' %>
            <div class="opportunity-info-row-data">  <%= @opportunity.display_date %></div>
          </div>
        </div>
        <div class="oppo-topleft-grid-bottom">
          Bottom
        </div>
      </div>
    </div>
    <div class="oppo-main-grid-topright">
      <% if @role %>
        <%= render 'rsvp', opportunity: @opportunity, role: @role %>
      <% end %>
      <div class="posts-container">
        <div class="posts-container-header">
          <span class="posts-container-title">Posts</span>
          <% if current_user && @role %>
            <%= link_to 'Add A Post', new_post_path(:opportunity => {:id => @opportunity.id}), class: "add-post-btn"%>
          <% end %>
        </div>
        <div class="post-list">
          <% if @opportunity.posts.size > 0 %>
            <% @opportunity.posts.each do |post| %>
              <% post_user = User.find(post.user_id) %>
              <div class="post-listitem <%= post.completion_post ? "completion-post" : "" %>">
                <a href="/posts/<%= post.id %>" class="post-link">
                  <span class="post-title"><%= post.display_title %> </span> -
                  <span class="post-author"><%= post_user.username %><span> on <%= post.created_at.strftime('%m/%d/%Y') %></span></span>
                </a>
              </div>
            <% end %>
          <% else %>
            <div class="no-posts-container">
              There is currently no discussion about this volunteer opportunity. If you have a comment or question, add it!
            </div>
          <% end %>
        </div>
      </div>
      <div class="oppo-main-grid-bottomleft">
      </div>
      <div class="oppo-main-grid-bottomright">
      </div>
    </div>
  </div>