<div class="cleanup-show-page">
  <div class="cleanup-desktop-grid">
    <div class="cleanup-desktop-grid-left">
      <div class="desktop-grid-when">
        <%= @opportunity.cleanup_date %>
        <%= @opportunity.cleanup_time.strftime("%l:%M") << " - "  << (@opportunity.cleanup_time + @opportunity.cleanup_duration.hours).strftime("%l:%M %p") %>
      </div>
      <div class="desktop-grid-where">
        <%= @opportunity.address %>
      </div>
      <div class="desktop-grid-metadata">
        Bring your own equipment: <%= @opportunity.bring_your_own %>
      </div>
    </div>
    <div class="cleanup-desktop-grid-right">
      <div class="desktop-grid-map">
        <div class="desktop-grid-title stack-top">
          <%= @opportunity.title %>
        </div>
        <a class="desktop-grid-volunteer-btn stack-top">
          <div class="desktop-volunteer-btn" onclick="showVolunteerModal()">
            Volunteer
          </div>
        </a>
        <div id="map" class="map-div"></div>
      </div>
    </div>
    <div id="rsvp-modal">
      <% if @role %>
        <%= render 'rsvp', opportunity: @opportunity, role: @role %>
      <% else %>
        <%= render 'rsvp_noauth', opportunity: @opportunity %>
      <% end %>
    </div>
  </div>
</div>
<script>
  let map;


  function initMap()
  {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @opportunity.latitude %>, lng: <%= @opportunity.longitude %>},
      zoom: 13,
      streetViewControl: false,
      mapTypeControl: false,
      fullscreenControl: false
    });

    let infoWindow = new google.maps.InfoWindow();

    let greenIcon = {
      url: "http://maps.google.com/mapfiles/ms/icons/green.png",
      scaledSize: new google.maps.Size(63,63)
    };

    LatLng = {lat: <%= @opportunity.latitude %>, lng: <%= @opportunity.longitude %>};

    let marker;

    marker = new google.maps.Marker({
      position: LatLng,
      map: map,
      animation: google.maps.Animation.DROP,
      icon: greenIcon
    });
    let data = "<div class=\"opportunity-address-marker\"><%= @opportunity.address %></div>";

    (function (marker, data) {
      google.maps.event.addListener(marker, "click", function (e) {
        infoWindow.setContent(data);
        infoWindow.open(map, marker);
        event.stopPropagation(); // this prevents propagation of marker click to map click
      });
    })(marker, data);

    map.addListener("click", function() {
      infoWindow.close();
    });
  }


  function showVolunteerModal() {
    var el = document.getElementById('rsvp-modal');
    if (el) {
      el.style.display = 'block';
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvo5jgtwJAlgCwAA9_5v_pUgphXxe9ntY&callback=initMap" async defer></script>
