<div class="opportunity-show-page">
  <div class="jbh-standard-title">
    <%= @opportunity.title %>
  </div>
  <div class="opportunity-main-grid">
    <div class="oppo-main-grid-topleft">
      <div class="oppo-topleft-grid">
        <div class="oppo-topleft-grid-top">
          <div class="oppo-topleft-grid-left">

          <div class="oppo-topleft-grid-right">


          </div>
        </div>
        <div class="oppo-topleft-grid-bottom">
          <div class="opportunity-description"><%= @opportunity.description %></div>
        </div>
      </div>
    </div>
    <div class="oppo-main-grid-topright">


      </div>
    </div>
    <div class="oppo-main-grid-bottomleft">
      <div class="requirements-container">
        <div class="requirements-container-header">
          <span class="requirements-container-title">Requirements</span>
          <% if current_user&.is_mod?(@opportunity.id) %>
            <%= link_to 'Add A Req', new_requirement_path(:requirement => {:opportunity_id => @opportunity.id, :defined => @opportunity.defined, :target_date => @opportunity.defined ? @opportunity.cleanup_date : @opportunity.planned_by_date }), class: 'add-req-btn' %>
          <% end %>
        </div>
        <% if @requirements.size > 0 %>
        <% @requirements.each do |requirement| %>
          <div class="requirement-row <%= requirement.leader == nil ? '' : 'req-has-volunteer' %>">
            <span class="requirement-row-title"><%= requirement.title %></span>
            <span class="requirement-row-status">
              <% if requirement.leader && requirement.leader != current_user %>
                <span class="requirement-status-user"><%= requirement.leader.username %></span>
              <% elsif requirement.leader == current_user %>
                <a href="/requirements/cancel?id=<%=requirement.id%>" class="requirement-btn req-cancel-btn">Cancel</a>
              <% elsif !requirement.leader && @role %>
                <a href="/requirements/participate?id=<%= requirement.id %>" class="requirement-btn req-volunteer-btn">Volunteer</a>
              <% end %>
            </span>
          </div>
        <%end%>
        <% else %>
          <div class="no-requirements-container">
            There are currently no requirements defined. Should there be?
          </div>
        <% end %>
      </div>
    </div>
    <div class="oppo-main-grid-bottomright">

    </div>
  </div>
</div>
