<div class="opportunity-show-page">
  <div class="jbh-standard-title">
    <%= @opportunity.title %>
  </div>
  <div class="opportunity-container">
    <div class="jbh-grid-container">
      <div class="jbh-grid-first">
        <div class="opportunity-info">
          <div class="opportunity-info-left opportunity-info-container">
            <div class="opportunity-info-row">CREATED BY
              <div class="opportunity-info-row-data"><%= @opportunity.user.username %></div>
            </div>
            <div class="opportunity-info-row">CATEGORY
              <div class="opportunity-info-row-data black"><%= @opportunity.category_title %></div>
            </div>
            <div class="opportunity-info-row">COMPLETION DATE
              <div class="opportunity-info-row-data">  <%= @opportunity.display_date %></div>
            </div>
          </div>
          <div class="opportunity-info-right opportunity-info-container">
            <div class="opportunity-info-row">VOLUNTEERS
              <div class="opportunity-info-row-data info opportunity-info-volunteers-count">
                <%= @opportunity.volunteer_count %> / <%= @opportunity.volunteers_required %>
              </div>
            </div>
            <% if current_user&.is_follower?(@opportunity.id) %>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  OPTIONS
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/opportunities/unfollow?id=<%= @opportunity.id %>">
                    Unfollow
                  </a>
                  <a class="dropdown-item" href="/opportunities/followers?id=<%= @opportunity.id %>">
                    Followers
                  </a>
                  <% if @is_mod %>
                    <a class="dropdown-item" href="/opportunities/<%= @opportunity.id %>/edit">
                      Edit
                    </a>
                  <% end %>
                  <% if @is_admin %>
                    <a class="dropdown-item dropdown-item-complete" href="/opportunities/complete?id=<%= @opportunity.id %>">
                      COMPLETE
                    </a>
                  <% end %>
                </div>
              </div>
            <% else %>
              <a class="follow-btn btn" href="/opportunities/follow?id=<%=@opportunity.id%>">
                JOIN
              </a>
            <% end %>
          </div>
        </div>
        <div class="opportunity-description"><%= @opportunity.description %></div>
      </div>
      <div class="jbh-grid-second">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @opportunity.latitude%>,<%= @opportunity.longitude %>&zoom=14&size=340x340&key=AIzaSyDvo5jgtwJAlgCwAA9_5v_pUgphXxe9ntY&markers=color:blue%7Clabel:O%7C<%= @opportunity.latitude%>,<%= @opportunity.longitude%>" class="opportunity-mapimage">
        <div class="opportunity-address-below-map">
          <%= @opportunity.address %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="opportunity-tab-links">
      <button class="tablinks hp" onclick="openTab(event, 'opportunity-requirements-tab')" id="defaultOpen">Requirements and Progress</button>
      <button class="tablinks hp" onclick="openTab(event, 'opportunity-info-tab')">Discussion</button>
    </div>
  </div>
  <!-- Tab content -->
  <div id="opportunity-info-tab" class="tabcontent">
    <div class="posts-container">
      <div class="post-list">
        <% if @opportunity.posts.size > 0 %>
          <% @opportunity.posts.each do |post| %>
            <% post_user = User.find(post.user_id) %>
            <div class="post-container <%= post.completion_post ? "completion-post" : "" %>">
              <a href="/posts/<%= post.id %>" class="post-link">
                <p class="post-title"><%= post.title %></p>
                <p class="post-author"><%= post_user.username %><span> on <%= post.created_at.strftime('%m/%d/%Y') %></span></p>
              </a>
            </div>
          <% end %>
        <% else %>
          <div class="no-posts-container">
            There is currently no discussion about this volunteer opportunity. If you have a comment or question, add it!
          </div>
        <% end %>
        <% if current_user && @role %>
          <div class="add-tabitem-button">
            <%= link_to 'New Post', new_post_path(:opportunity => {:id => @opportunity.id}), class: "btn btn-success btn-lg add-tabitem-btn"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="opportunity-requirements-tab" class="tabcontent">
    <% @requirements.each do |requirement| %>
      <%= render 'requirement_row', requirement: requirement %>
    <%end%>
    <% if @is_mod %>
      <div class="add-tabitem-button">
        <%= link_to 'New Requirement', new_requirement_path(:requirement => {:opportunity_id => @opportunity.id, :defined => @opportunity.defined, :target_date => @opportunity.target_completion_date}), class: 'btn btn-success btn-lg add-tabitem-btn' %>
      </div>
    <% end %>
  </div>
</div>