<!DOCTYPE html>
<html>
  <head>
    <title>Detrashers - The Cleanup Community</title>
    <meta name="description" content="Detrashers.org is a community for people who want to help make their world a cleaner place.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDvo5jgtwJAlgCwAA9_5v_pUgphXxe9ntY&libraries=geometry' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= yield(:head_tags) %>
  </head>
  <body>
    <% if !(params[:action] == 'landing') %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <main class='wrapper'>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
